<html>
    <head>
        <title>Verbose search result for '{{ key_info['search_term'] | safe }}'</title>
        <style type='text/css'>
            table.keys {
                border-collapse: collapse;
            }
            tr.key {
                border-bottom: 1px solid grey;
                text-align: left;
                vertical-align:top; 
            }
        </style>
    </head>
    <body>
        <h1>Verbose search result for '{{ key_info['search_term'] | safe }}'</h1>
        {% for key in key_info['keys'] %}
            <h3>Key '{{ key.pub_key.keyid[8:] }}'</h3>
            <table class="keys">
            <tr>
                <td></td>
                <td>Bits/Key ID</td>
                {% if key_info['fingerprint'] %}
                <td>Fingerprint</td>
                {% endif %}
                <td>Creation Date</td>
                <td>Expiry Date</td>
            </tr>
            <tr class='key'>
                <td>pub</td>
                <td>{{ key.pub_key.length}}/<a href="{{ url_for('lookup', op='get', search='0x'+key.pub_key.keyid)}}">{{ key.pub_key.keyid[8:] }}</a></td>
                {% if key_info['fingerprint'] %}
                <td>{{ key.pub_key.fpr }}</td>
                {% endif %}
                <td>{{ key.pub_key.timestamp | datetime }}</td>
                {% if key.pub_key.expires != 0 %} 
                <td>{{ key.pub_key.expires | datetime }}</td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% for uid in key.uids %}
            <tr>
                <td>uid</td>
                <td colspan="0">{{ key.uids[0].uid | escape_nonascii }}</td>
            </tr>
            {% for sig in uid.signatures %}
            <tr>
                <td>sig</td>
                <td>sig{{ sig.
            </tr>
            {% endfor %}
            {% endfor %}
        {% endfor %}
        </table>
    </body>
</html>
